extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-md-4")
        h1= title
      div(class="col-md-3 col-md-offset-5")
        button(type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" style="margin: 65px 0px 0px 155px;") NUEVO GRUPO
    div(class="row")
      table(class="table table-striped table-hover ")
        thead()
          tr()
            th() ID
            th() Nombre
        tbody(data-bind="foreach: grupos")
          tr
            td(data-bind="text: ID")
            td(data-bind="text: Nombre")
              
  div(id="addModal" class="modal fade" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          div(class="container")
            h3 Grupos+
        div(class="modal-body")
          form(data-bind="submit: agregar")
            div(class="form-group")
              label(for="nombre" class="col-lg-2 control-label") Nombre
              div(class="col-md-4")
                input(class="form-control" name="nombre" placeholder="Nombre" type="text" data-bind="value: gn.nombre")
            div(class="form-group")
              button(type="submit" class="btn btn-primary") AGREGAR
              button(type="button" class="btn btn-default" data-dismiss="modal") CLOSE
        div(class="modal-footer")
          
      
    
    
    
