extends layout

block content
  div(id="myTabContent" class="tab-content")
    div(class="tab-pane fade active in" id="home")
      div(class="container")
        h1 Home
        
    div(class="tab-pane fade" id="grupos")
      div(class="container")
        h1 Grupos
        
    div(class="tab-pane fade" id="cursos")
      div(class="container")
        h1 Cursos              
