doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
          
  body
    div(class="nav")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

        div(class="navbar-collapse collapse" id="bs-example-navbar-collapse-2")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/") HOME
                span(class="sr-only")
            li
              a(href="/grupos") GRUPOS
                span(class="sr-only")
            li
              a(href="/cursos") CURSOS
               
    block content
    script(rel="text/javascript" src="/javascripts/jquery-3.2.1.min.js")
    script(rel="text/javascript" src="/javascripts/bootstrap.min.js")
    script(rel="text/javascript" src="/javascripts/knockout.js")
    script(rel="text/javascript" src="/javascripts/grupo.js")
    
    
